<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    >

    <testsuites>
        <testsuite name="Slug Test Cases">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>

    <filter>
       <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
